/* floats */

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

html[dir=rtl] {
  .float-right {
    float: left !important;
  }

  .float-left {
    float: right !important;
  }
}

