/* media */

@custom-selector :--media
  img,
  embed,
  object,
  video;

:--media {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0 0 var(--hiq-block-element-margin-bottom);
  padding: 0;
}

figcaption {
  margin-top: var(--hiq-figcaption-margin-top);
  font-weight: var(--hiq-figcaption-font-weight);
  color: var(--hiq-figcaption-text-color);
}

img {
  display: block;
  border-style: none;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

video:focus {
  outline: var(--hiq-outline-color) solid var(--hiq-outline-width);
}

audio {
  max-width: 100%;
}

iframe {
  margin: 0;
  padding: 0;
  border: 0;
}
