/* meter elements */

meter {
  width: 100%;
  border: 0;
  background: var(--hiq-meter-background-color);

  &::-webkit-meter-bar {
    border: 0;
    background: var(--hiq-meter-background-color);
  }

  &::-moz-meter-bar {
    background: var(--hiq-meter-background-color);
  }

  &::-webkit-meter-optimum-value {
    background: var(--hiq-meter-strong-color);
  }

  &:-moz-meter-optimum::-moz-meter-bar {
    background: var(--hiq-meter-strong-color);
  }

  &::-webkit-meter-suboptimum-value {
    background: var(--hiq-meter-good-color);
  }

  &:-moz-meter-sub-optimum::-moz-meter-bar {
    background: var(--hiq-meter-good-color);
  }

  &::-webkit-meter-even-less-good-value {
    background: var(--hiq-meter-weak-color);
  }

  &:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: var(--hiq-meter-weak-color);
  }
}
