/* tables */

table {
  width: 100%;
  max-width: 100%;
  margin: 0 0 var(--hiq-block-element-margin-bottom);
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  caption-side: bottom;
  text-align: inherit;
}

@custom-selector :--table-cell
  th,
  td;

:--table-cell {
  padding: var(--hiq-table-cell-padding-vertical) var(--hiq-table-cell-padding-horizontal);
  border-top: var(--hiq-table-cell-border-width) solid var(--hiq-table-cell-border-color);
  background-color: var(--hiq-table-cell-background-color);
  text-align: inherit;
  vertical-align: top;
}

thead :--table-cell {
  border-top: 0;
  border-bottom: var(--hiq-table-head-border-width) solid var(--hiq-table-cell-border-color);
  vertical-align: bottom;
}

tfoot :--table-cell {
  border-top: var(--hiq-table-foot-border-width) solid var(--hiq-table-cell-border-color);
  vertical-align: top;
}

th {
  background-color: var(--hiq-table-heading-background-color);
  font-weight: var(--hiq-table-heading-font-weight);
  color: var(--hiq-table-heading-text-color);
}

tbody + tbody {
  border-top: var(--hiq-table-head-border-width) solid var(--hiq-table-cell-border-color);
}

table caption {
  padding: var(--hiq-table-caption-padding-vertical) 0;
  font-weight: var(--hiq-table-caption-font-weight);
  color: var(--hiq-table-caption-text-color);
}
