# IDE & System Related Files #
.buildpath
.project
.settings
.DS_Store
.idea
.vscode

# JS/CSS Build #
node_modules/
/css/**/*.css

# CSS map files #
.map

# OSX #
._*
.Spotlight-V100
.Trashes

# Windows #
Thumbs.db
Desktop.ini

# Never ignore #
!/.gitignore
