.media-breadcrumb {
  display: flex;
  padding: 0;
  margin: 0 auto 0 0;
  font-size: .9rem;
  line-height: var(--mediamanager-toolbar-height);
  background: transparent;
  border-inline-start: 1px solid var(--mediamanager-border-color);

  ol {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: outside none none;

    & > li > a {
      cursor: pointer;
    }
  }
}

.media-breadcrumb-item {
  padding: 0 8px 0 22px;
  background-color: var(--mediamanager-breadcrumbs-bg);
  &:first-of-type {
    padding-inline-start: 16px;
  }
  &:last-of-type {
    background-color: var(--mediamanager-breadcrumbs-current-bg);
    &::after {
      border-inline-start-color: var(--mediamanager-breadcrumbs-current-bg);
    }
  }
  &:hover {
    color: var(--mediamanager-highlight-color);
  }
}

.media-breadcrumb-item {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    z-index: 2;
    display: block;
    width: 0;
    height: 0;
    margin: auto;
    content: "" !important;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
    border-inline-start: 10px solid transparent;
  }
  &::before {
    border-inline-start-color: var(--mediamanager-border-color);
  }
  &::after {
    border-inline-start-color: var(--mediamanager-breadcrumbs-bg);
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  display: none;
}
