.media-infobar {
  position: absolute;
  inset-block: 0;
  inset-inline-end: 0;
  z-index: 4;
  float: none;
  width: 25%;
  padding: var(--mediamanager-gutter-width);
  overflow-y: scroll;
  background-color: var(--mediamanager-info-bg);
  border-inline-start: 1px solid var(--mediamanager-border-color);

  h2 {
    padding-bottom: 1rem;
    margin: 0;
    font-size: 1.2rem;
    word-wrap: break-word;
    border-bottom: 1px solid var(--mediamanager-border-color);
  }

  dl {
    display: flex;
    flex-wrap: wrap;
  }

  dt,
  dd {
    position: relative;
    width: 100%;
    min-height: 1px;
  }

  dt {
    font-weight: normal;
    color: var(--mediamanager-info-dt-color);
  }
}

.infobar-close {
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  z-index: 2;
  padding: 0 var(--mediamanager-gutter-width);
  font-size: 2.6rem;
  line-height: var(--mediamanager-info-title-height);
  color: var(--mediamanager-info-close-color);
  text-indent: 0;
  text-shadow: none;

  &:hover {
    color: var(--mediamanager-info-close-color-hover);
    cursor: pointer;
  }
}

.placeholder-icon.fas {
  display: block;
  width: 4rem;
  height: 4rem;
  margin: 20px auto 15px;
  font-size: 2rem;
  line-height: calc(4rem - 4px);
  color: var(--hiq-text-color);
  border: 2px solid var(--mediamanager-border-color);
  border-radius: 50%;
}
