/* Button Group */

.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;

  > button {
    position: relative;
    flex: 1 1 auto;
  }

  > button:hover,
  > button:focus,
  > button:active,
  > button.active {
    z-index: 1;
  }
}

.btn-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .input-group {
    width: auto;
  }
}

.btn-group {
  border-radius: var(--hiq-button-border-radius);

  > button:not(:first-child),
  > .btn-group:not(:first-child) {
    margin-left: -var(--hiq-button-border-width);
  }

  > button:not(:last-child):not(.dropdown-toggle),
  > .btn-group:not(:last-child) > button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > button:nth-child(n + 3),
  > :not(.btn-check) + button,
  > .btn-group:not(:first-child) > button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
