/* blockquotes */

blockquote {
  margin: 0 0 var(--hiq-block-element-margin-bottom);
  padding: 0;
  color: var(--hiq-text-color);

  & p {
    margin-bottom: 0;
    font-size: var(--hiq-blockquote-font-size);
    line-height: var(--hiq-blockquote-line-height);
  }

  & cite {
    display: block;
    margin-top: .25rem;
    color: var(--hiq-blockquote-citation-color);

    &::before {
      content: '\2014 \00A0'; /* em dash, nbsp */
    }
  }
}

/* citations */

cite {
  font-style: normal;
}
