/* details/summary */

details {
  margin-bottom: var(--hiq-block-element-margin-bottom);
}

summary {
  display: list-item;

  &:focus {
    outline: var(--hiq-outline-color) solid var(--hiq-outline-width);
  }
}
