/* horizontal rules */

hr {
  box-sizing: content-box;
  height: var(--hiq-horizontal-rule-height);
  overflow: visible;
  margin-top: var(--hiq-block-element-margin-bottom);
  margin-bottom: var(--hiq-block-element-margin-bottom);
  padding: 0;
  border: 0;
  background-color: var(--hiq-horizontal-rule-color);
}
