/* links */

a {
  background-color: transparent;
  text-decoration: var(--hiq-link-text-decoration);
  -webkit-text-decoration-skip: objects;
  color: var(--hiq-link-color);
  transition: color var(--hiq-speed) var(--hiq-easing);
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--hiq-link-hover-color);
  }

  &:focus {
    outline: var(--hiq-outline-color) solid var(--hiq-outline-width);
  }

  &:active {
    color: var(--hiq-link-active-color);
  }
}

