/* color inputs */

input[type='color'] {
  cursor: pointer;

  &:focus {
    outline: var(--hiq-outline-color) solid var(--hiq-outline-width);
  }

  &:disabled,
  &[aria-disabled] {
    cursor: not-allowed;
  }
}
