/* datalists */

input[list] {
  @mixin input;

  display: block;
  width: 100%;
  height: var(--hiq-input-height);
  padding: var(--hiq-input-padding-vertical) var(--hiq-input-padding-horizontal);
}
