/* Switcher */

.color-scheme-switch {
  position: relative;
  width: 70px;
  flex: 0 0 70px;
  user-select: none;
}

.color-scheme-switch-checkbox {
  display: none;
}

.color-scheme-switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 36px;
  padding: 0;
  line-height: 36px;
  border: 2px solid #e3e3e3;
  border-radius: 36px;
  background-color: #fff;
  transition: background-color .3s ease-in-out;
  margin-bottom: 0;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 36px;
    margin: 0;
    content: "";
    background: var(--hiq-body-background-color);
    border: inherit;
    border-radius: inherit;
    transform: translateX(0);
    transition: transform .3s ease-in-out;
  }
}

.color-scheme-switch-checkbox:checked + .color-scheme-switch-label {
  background-color: var(--hiq-header-background-color);
  border-color: var(--hiq-body-background-color);

  &::before {
    transform: translateX(33px);
    transition: transform .3s ease-in-out;
  }
}
