/* Pagination */

.pagination {
  display: flex;
  padding-inline-start: 0;
  flex-flow: row wrap;
  list-style: none;
}

.page-link {
  position: relative;
  display: block;
  padding: .25rem var(--hiq-button-horizontal-padding);
  color: var(--hiq-button-text-color);
  text-decoration: none;
  background-color: var(--hiq-button-background-color);
  border: var(--hiq-button-border-width) solid var(--hiq-button-border-color);

  &:hover {
    color: var(--hiq-button-hover-text-color);
    text-decoration: none;
    background-color: var(--hiq-button-hover-background-color);
    border-color: var(--hiq-button-hover-border-color);
  }
}

.page-item {
  &:not(:first-child) .page-link {
    margin-inline-start: .5rem;
  }

  &.active .page-link {
    color: var(--hiq-button-active-text-color);
    background-color: var(--hiq-button-active-background-color);
    border-color: var(--hiq-button-active-border-color);
  }

  &.disabled .page-link,
  &.disabled.page-link {
    color: var(--hiq-disabled-text-color);
    pointer-events: none;
    background-color: var(--hiq-disabled-background-color);
    border-color: var(--hiq-disabled-border-color);
  }
}
